.nav-button>svg{
    fill: #88bb33;
    transition: 0.5s;
}

.nav-button svg {
    width: 24px;
    height: 24px;
}

.nav-button {
    outline: none;
    padding: 0 2px;
}

.nav-button:focus-visible>svg, .nav-button:hover>svg {
    fill: #33bba4;
    transition: 0.5s;
}

.nav-button:not(:focus-visible):not(:hover)>svg {
    fill: #88bb33;
    transition: fill 0.5s;
}